#todoItem-container {
    display:flex;
    width:90%;
    padding:0.5rem 0.5rem;
    border-bottom: 1px solid #75C2F6;
}

#comp-input-container {
    width:10%;
}

#todoInfo-container {
    width:80%;
}

#todoTitle-container {
    font-weight:bold;
}

#delTodo-container {
    color:rgb(240, 18, 18);
}