* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:16px;
    /* outline:1px solid red; */
}

/* width */
.scrollbar::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
.scrollbar::-webkit-scrollbar-track {
    background: #75C2F6;
    box-shadow: inset 0 0 5px grey; 
    border-radius:4px;
}
   
/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #1D5D9B; 
    border-radius:4px;
}
  
/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #447fb9;
}

i{
    cursor: pointer;
}

/* styles for main element */
main {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
    background-color: #ffffff;
}

/* styles for todoApp container element */
#todoApp-container {
    min-height:30vh;
    width:40vw;
    background-color: #AEDEFC;
    box-shadow:0px 0px 2px 8px #75C2F6;
    border-radius:0.5rem;
}

/* styles for todoApp header element */
#todoApp-header{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px 0px;
}

#todoApp-header > p {
    font-size:1.75rem;
    font-weight:bold;
}

/* styles for form and todos container element */
#form-todos-container {
    display:flex;
    flex-direction:column;
    align-items: center;
}

/* styles related with form element */
#form-container {
    border:2px solid #75C2F6;
    border-radius:0.5rem;
    height:22vh;
    width:90%;
    padding:0.5rem 1.5rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
}

#form-container > div {
    display:flex;
    justify-content:space-between;
    width:100%;
}

#form-container input {
    border-width: 0;
    border-bottom:1px solid #75C2F6;
    font-size:1.2rem;
    background-color: transparent;
    padding:0.25rem;
    text-overflow: ellipsis;
}

#form-container input::placeholder {
    color:#1D5D9B;
}

#form-container input:focus {
    outline:none;
}

#form-container input:-webkit-autofill,
#form-container input:-webkit-autofill:hover,
#form-container input:-webkit-autofill:focus,
#form-container input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

#form-container label {
    font-size:1.2rem;
    text-overflow: ellipsis;
    margin-bottom:0.25rem;
}

#form-container button {
    height:35%;
    min-height:2rem;
    max-height:2.5rem;
    min-width:6rem;
    background-color: #1D5D9B;
    color:white;
    border:0px;
    cursor: pointer;
    border-radius:0.5rem;
}

#title-container {
    display:flex;
    flex-direction: column;
    width:35%;
}

#desc-container {
    display:flex;
    flex-direction: column;
    width:60%;
}

/* styles related with todos list element */
#todos-container {
    max-height:50vh;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    width:100%;
    position: relative;
}

#todoItem-container {
    display:flex;
    width:90%;
    padding:0.5rem 0.5rem;
    border-bottom: 1px solid #75C2F6;
}

#comp-input-container {
    width:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#todoInfo-container {
    width:80%;
}

#todoTitle-container {
    font-weight:bold;
}

#delTodo-container {
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(240, 18, 18);
}